<div class="nav">
  <div class="forbackbtn">
    <div class="sec2btn backward"><img src="/images/backwards.png" alt="" onclick="goBackwards()"></div>
    <div class="sec2btn forward"><img src="/images/forwards.png" alt="" onclick="goForwards()"></div>
    <input type="text" id="searchInput" oninput="search()" placeholder="What do you want to listen?">
  </div>
  <div class="profile"><img src="/images/profile.jpg" alt=""></div>
</div>
<h3 class="topResults">Top Result</h3>
<div class="results"></div>